<div class="container mt-4">


    <h2 class="text-center"> Create architect account </h2>

    <div class="col-6 mx-auto">

     

        <input  [(ngModel)]="architect.name" type="text" class="form-control m-1" placeholder="name">
        <input  [(ngModel)]="architect.lastname" type="text" class="form-control m-1" placeholder="lastname">
        <input  [(ngModel)]="architect.email" type="text" class="form-control m-1" placeholder="email">
        <input  [(ngModel)]="architect.password" type="password" class="form-control m-1" placeholder="password">
        <input type="file" (change)="select($event)" class="form-control m-1" placeholder="image">
        <textarea  [(ngModel)]="architect.about" name="" id="" cols="30" rows="4" placeholder="about" class="form-control m-1" ></textarea>
        <select class="form-control m-1">
            <option value="" disabled selected>Choisir votre role</option>
            <option value="residential">Utilisateur</option>
            <option value="commercial">Architect</option>

        </select>
        <button  (click)="register()" class="btn btn-dark form-control m-1">Register</button>


    </div>

</div>